name: "Bind DNS Server"
version: "20251016051008"
slug: "bind"
description: "A fully featured DNS server. Please note: This addon is not provided by Internet Systems Consortium, it is a third party addon"
url: "https://github.com/cmsj/addon-bind"
arch:
  - armhf
  - armv7
  - aarch64
  - amd64
  - i386
init: false
ports:
  53/udp: 53
  53/tcp: 53
map:
  - addon_config:rw
image: ghcr.io/cmsj/{arch}-addon-bind
codenotary: cmsj@tenshu.net
backup_exclude:
  - '*/cache'
