name: "Bind DNS Server"
version: "20260213053259"
slug: "bind"
description: "A fully featured DNS server. Please note: This addon is not provided by Internet Systems Consortium, it is a third party addon"
url: "https://github.com/cmsj/addon-bind"
arch:
  - aarch64
  - amd64
init: false
ports:
  53/udp: 53
  53/tcp: 53
map:
  - addon_config:rw
image: ghcr.io/cmsj/{arch}-addon-bind
backup_exclude:
  - '*/cache'
